In [49]:
import numpy as np
import pandas as pd

ar = np.zeros((1000,17), dtype=int)

ar[:,0] = np.arange(1,1001)
ar[:,1] = np.random.randint(2, size=1000)    # 0 = 남자, 1 = 여자
ar[:,2] = np.random.randint(10, 91, size=1000)
ar[:,3] = np.random.randint(1, 11, 1000)
ar[:,4] = np.random.choice([11, 22, 33, 44, 55], 1000)
ar[:,5] = np.random.choice([11, 22, 33, 44, 55], 1000)
ar[:,6] = np.random.randint(1, 51, 1000) * 1000
ar[:,7] = np.random.randint(1, 51, 1000) * 1000
ar[:,8] = np.random.randint(1, 101, 1000)
ar[:,9] = np.random.randint(1, 101, 1000)
ar[:,10] = np.random.randint(1, 24, 1000)
ar[:,11] = np.random.randint(1, 24, 1000)
ar[:,12] = np.random.randint(1, 6, 1000)
ar[:,13] = np.random.randint(1, 11, 1000)
ar[:,14] = ar[:,6] * ar[:,8]
ar[:,15] = ar[:,7] * ar[:,9]
ar[:,16] = np.where(((ar[:,15] - ar[:,14]) > 0), 1, 0)

columns = ['id','gender','age','region','pdt_22', 'pdt_23', 'pa_22', 'pa_23', 'q_22', 'q_23',
           't_22', 't_23', 'channel', 'tr_y', 'pur_19', 'pur_20', 'sales']

df = pd.DataFrame(ar, columns=columns)


# 각 컬럼별로 10개씩 null 값을 삽입
for i in range(1,17):
    idx = np.random.choice(df.index, size=1, replace=False)
    df.iloc[idx, i] = np.nan

    
df

,id,gender,age,region,pdt_22,pdt_23,pa_22,pa_23,q_22,q_23,t_22,t_23,channel,tr_y,pur_19,pur_20,sales
0,1,1.0,65.0,9.0,22.0,33.0,4000.0,1000.0,99.0,32.0,13.0,23.0,2.0,6.0,396000.0,32000.0,0.0
1,2,0.0,42.0,2.0,22.0,55.0,26000.0,21000.0,97.0,21.0,8.0,8.0,5.0,1.0,2522000.0,441000.0,0.0
2,3,0.0,13.0,8.0,11.0,11.0,21000.0,46000.0,93.0,75.0,2.0,7.0,3.0,9.0,1953000.0,3450000.0,1.0
3,4,1.0,36.0,5.0,11.0,33.0,2000.0,35000.0,46.0,91.0,14.0,14.0,2.0,7.0,92000.0,3185000.0,1.0
4,5,1.0,67.0,5.0,44.0,55.0,18000.0,26000.0,49.0,1.0,20.0,1.0,3.0,5.0,882000.0,26000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0.0,56.0,7.0,22.0,33.0,2000.0,46000.0,76.0,66.0,2.0,6.0,5.0,2.0,152000.0,3036000.0,1.0
996,997,0.0,88.0,6.0,55.0,11.0,13000.0,3000.0,67.0,7.0,21.0,1.0,2.0,5.0,871000.0,21000.0,0.0
997,998,1.0,48.0,9.0,55.0,44.0,38000.0,24000.0,88.0,42.0,19.0,11.0,3.0,7.0,3344000.0,1008000.0,0.0
998,999,0.0,69.0,5.0,33.0,44.0,35000.0,48000.0,53.0,79.0,4.0,18.0,4.0,10.0,1855000.0,3792000.0,1.0
999,1000,0.0,78.0,3.0,44.0,22.0,15000.0,47000.0,25.0,64.0,9.0,22.0,2.0,10.0,375000.0,3008000.0,1.0

In [50]:
df.gender.value_counts()

0.0    509
1.0    490
Name: gender, dtype: int64

In [52]:
# gender가 1인 index 추출
idx = df[df['gender'] == 1].index

# pdt_22의 값 중 70%를 11.0으로 바꿔줌
df.loc[np.random.choice(idx, size=int(len(idx)*0.7), replace=False), 'pdt_22'] = 11.0

In [23]:
df

,id,gender,age,region,pdt_22,pdt_23,pa_22,pa_23,q_22,q_23,t_22,t_23,channel,tr_y,pur_19,pur_20,sales
0,1,0.0,74.0,2.0,55.0,22.0,8000.0,9000.0,61.0,52.0,19.0,2.0,3.0,8.0,488000.0,468000.0,0.0
1,2,0.0,75.0,9.0,44.0,55.0,37000.0,18000.0,31.0,70.0,23.0,15.0,4.0,10.0,1147000.0,1260000.0,1.0
2,3,1.0,90.0,7.0,11.0,33.0,37000.0,19000.0,24.0,60.0,19.0,20.0,5.0,10.0,888000.0,1140000.0,1.0
3,4,1.0,57.0,9.0,11.0,22.0,39000.0,47000.0,43.0,50.0,7.0,3.0,3.0,4.0,1677000.0,2350000.0,1.0
4,5,0.0,87.0,9.0,22.0,55.0,34000.0,33000.0,6.0,32.0,12.0,23.0,4.0,4.0,204000.0,1056000.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,1.0,12.0,1.0,11.0,55.0,43000.0,46000.0,58.0,64.0,13.0,18.0,3.0,9.0,2494000.0,2944000.0,1.0
96,97,1.0,84.0,8.0,11.0,33.0,41000.0,38000.0,46.0,91.0,22.0,4.0,2.0,1.0,1886000.0,3458000.0,1.0
97,98,1.0,38.0,5.0,11.0,33.0,33000.0,32000.0,72.0,21.0,9.0,6.0,4.0,5.0,2376000.0,672000.0,0.0
98,99,1.0,68.0,2.0,11.0,33.0,48000.0,31000.0,65.0,66.0,10.0,9.0,2.0,5.0,3120000.0,2046000.0,0.0
99,100,0.0,15.0,7.0,33.0,55.0,31000.0,36000.0,6.0,23.0,18.0,13.0,4.0,3.0,186000.0,828000.0,1.0

In [53]:
count = len(df[(df['gender'] == 1.0) & (df['pdt_22'] == 11.0)])
print(count)

366